html 
{ 
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}

.navbar-brand{
    width:60%;
    text-align: center;
    font-style:italic;
    
}

ul {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    
}
li {
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
    text-align: center;
padding-right:30%;
}

    .navbar-nav a {
        
        border-radius:30px;
        height:80%;
        padding-top:0%;
        width:120%;
      }
    .navbar-nav a.active {
        background-color: #747474;
        border-radius:30px;
        font-weight: bold;
        
      }

    .dropdown-menu{background: White;
        border-radius: 10px;
        text-align: justify;
    }

    .dropdown-menu li{
        text-align: justify;
        width:300px
    }

    .sidenav {
        height: 100%;
        width: 20%;
        position: fixed;
        z-index: 1;
        top: 1;
        left: 0;
        background-color: #212529;
        overflow-x: hidden;
        
      }
    
      .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 16px;
        color: #818181;
        display: block;
        text-align: center;
        margin-bottom: 10px;
      }
    
     img{width:100%;
    margin-top: 10px;}
    
      .main {
        margin-left: 20%; /* Same as the width of the sidebar */
        
      }

      .Title{text-align: center;
        background-color: #a7a7a7;
        color: black;
    margin-top: 0%;
    padding-top:10px;
    padding-bottom: 10px;}

    